{% extends "accounts/base.html" %}


{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <h2 class="text-center">{% trans "GORITO IS BACK MUDAFAKA" %}</h2>
    <hr>
  </div>
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Account Login
      </div>
      <div class="panel-body">
        <form class="form-horizontal" id="t-accounts-login-form" method="post" action="">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
          {% for f in form %}
          {% if f.is_hidden %}
          {{ f }}
          {% else %}
          <div class="form-group {% if f.errors %}has-error{% endif %}">
            <label for="{{ f.id_for_label }}" class="col-sm-2 control-label">{{ f.label }}</label>
            <div class="col-sm-10">
              {{ f }}
              {% if f.errors %}
              {% for field_error in f.errors %}
              <span id="{{ f.id_for_label }}-help-block" class="help-block">{{ field_error }}</span>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
              {% if MODULE_USERS_SELFREGISTRATION %}
              <a href="{% url 'registration_register' %}" class="btn btn-success">{% trans "Register Now" %}</a>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer text-center">
        <p>
          {% trans "Forgot your password?" %}
        </p>
        <p><a href="{% url 'auth_password_reset' %}">{% trans "Click here to reset your password." %}</a></p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <h2 class="text-center">{% blocktrans %} You are already logged as{% endblocktrans %} {{ user }}</h2>
    <hr>
    <p class="text-center">
      <a class="btn btn-warning btn-lg" href="{% url 'auth_logout' %}">{% trans "Logout?" %}</a>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
