{% extends "site_base.html" %}
{% block title %}{{ block.super }}Forums Panel{% endblock %}
{% block extra_head %}
{{ block.super }}
<style>
  .display-flex-panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .display-flex-btn-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
  <div class="page-header text-center">
    <h2>
      Forum Panel
    </h2>
  </div>
</div>
<div class="col-md-8">
  <div class="panel panel-info">
    <div class="panel-heading display-flex-panel-heading">
      <h3 style="margin: 1rem">Forums</h3>
      <a href="{% url 'libreorganize:forum_create' %}" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div class="panel-body">
      {% for forum in forums %}
      <div class="btn-group" style="width: 100%; margin-bottom: 0.5rem;">
        <a href="{% url 'libreorganize:forum_update' forum.slug %}" style="width: 95%" class="btn btn-default">{{ forum.name }}</a>
        <a href="{% url 'libreorganize:forum_delete' forum.slug %}" style="width: 5%" class="btn btn-danger dropdown-toggle">
          <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading display-flex-panel-heading">
      <h3 style="margin: 1rem">Categories</h3>
      <a href="{% url 'libreorganize:category_create' %}" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div class="panel-body">
      {% for category in categories %}
      <div class="btn-group" style="width: 100%; margin-bottom: 0.5rem;">
        <a href="{% url 'libreorganize:category_update' category.slug %}" style="width: 90%" class="btn btn-default">{{ category.name }}</a>
        <a href="{% url 'libreorganize:category_delete' category.slug %}" style="width: 10%" class="btn btn-danger dropdown-toggle">
          <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
