{% extends "site_base.html" %}
{% block title %}Create Category{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
  <div class="page-header text-center">
    <h2>
      Create Category
    </h2>
  </div>
</div>
<div class="col-md-12">
  <div class="form-row">
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Create Category</button>
    </form>
  </div>
</div>
{% endblock %}
