{% extends "site_base.html" %}
{% block title %}Edit Forum{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-header text-center">
  <h1>
    Edit Forum
  </h1>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="post" action="" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.category|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
          <button type="submit" class="btn btn-success">Edit Forum</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
